* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 150px;

    input, button {
        padding: 20px;
    }
}

#blacker {
    text-align: center;
    padding: 30px;
}